<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.6.5" targetFramework="net462" allowedVersions="[3.0,3.1)" />
  <package id="Google.Apis" version="1.60.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.60.0" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.60.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
</packages>