<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.6" targetFramework="net461" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.0.6" targetFramework="net461" />
  <package id="Google.Apis" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.Compute.v1" version="1.49.0.2202" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.Logging.v2" version="1.49.0.2213" targetFramework="net461" />
  <package id="Google.Apis.Storage.v1" version="1.49.0.2218" targetFramework="net461" />
  <package id="MSBuild.AssemblyVersion" version="1.3.0" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
</packages>