<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net461" />
  <package id="DockPanelSuite" version="3.0.6" targetFramework="net461" />
  <package id="Google.Apis" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.CloudResourceManager.v1" version="1.49.0.2205" targetFramework="net461" />
  <package id="Google.Apis.Compute.v1" version="1.49.0.2202" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.49.0" targetFramework="net461" />
  <package id="Moq" version="4.16.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.13.1" targetFramework="net461" />
  <package id="NUnit.Console" version="3.12.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.12.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net461" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>