<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.6" targetFramework="net461" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.0.6" targetFramework="net461" />
  <package id="Google.Apis" version="1.40.3" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.40.3" targetFramework="net461" />
  <package id="Google.Apis.CloudResourceManager.v1" version="1.40.3.1702" targetFramework="net461" />
  <package id="Google.Apis.Compute.v1" version="1.40.3.1687" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.40.3" targetFramework="net461" />
  <package id="MSBuild.AssemblyVersion" version="1.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="OpenCover" version="4.7.922" targetFramework="net461" />
  <package id="ReportGenerator" version="4.5.6" targetFramework="net461" />
  <package id="WiX" version="3.11.1" targetFramework="net461" />
</packages>