<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2019 Google LLC
    
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at
    
      http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
--> 
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="Cloud IAP Desktop" 
           Language="1033" 
           Version="$(var.VERSION)" 
           Manufacturer="Google Inc" 
           UpgradeCode="8077382c-6b47-11ea-bc55-0242ac130003">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86" />

		<MajorUpgrade 
           AllowSameVersionUpgrades="yes" 
           DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <!-- Find rdcman.exe (which is always 32bit) -->
    <Property Id="RDCMANDIR" Secure="yes">
      <ComponentSearch Id="RdcmanComponentSearch" Type="file" Guid="80773a70-6b47-11ea-bc55-0242ac130003">
        <DirectorySearch Id="RdcmanDirectorySearch" AssignToProperty="yes"  Depth="0" />
      </ComponentSearch>
    </Property>

    <Condition Message="Remote Desktop Connection Manager is not installed on this machine">RDCMANDIR</Condition>

    <!-- Install to the directory rdcman.exe is located in -->
    <CustomAction Id="SetInstallFolder" Directory="TARGETDIR" Value="[RDCMANDIR]" />
    <InstallExecuteSequence>
      <Custom Action="SetInstallFolder" After="CostFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>

		<Feature Id="ProductFeature" Title="Cloud IAP Desktop" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>


    <WixVariable Id="WixUILicenseRtf" Value="$(var.BASEDIR)\License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.BASEDIR)\Background.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.BASEDIR)\Header.bmp" />

    <UIRef Id="WixUI_Common" />
    
    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed AND NOT PATCH</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">LicenseAccepted = "1"</Publish>


      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="1">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">WixUI_InstallMode = "Update"</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="TARGETDIR">
      <Component Id="CompReadme" Guid="80773b6a-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileReadme"
          Name="README.md"
          DiskId="1"
          Source="README.md"
          Vital="yes"/>
      </Component>
      
      <Component Id="CompIapDesktopExe" Guid="807746dc-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileIapDesktopExe"
          Name="IapDesktop.exe"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\IapDesktop.exe"
          Vital="yes"/>
      </Component>

      <Component Id="CompGoogleSolutionsIapDesktopApplicationDll" Guid="8077479a-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileGoogleSolutionsIapDesktopApplicationDll"
          Name="Google.Solutions.IapDesktop.Application.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Google.Solutions.IapDesktop.Application.dll"
          Vital="yes"/>
      </Component>

      <Component Id="CompGoogleSolutionsComputeDll" Guid="80773c3c-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileGoogleSolutionsComputeDll"
          Name="Google.Solutions.Compute.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Google.Solutions.Compute.dll"
          Vital="yes"/>
      </Component>
      
      <!-- SDK and dependencies -->
      <Component Id="CompWeifenLuoWinFormsUIDockingDll" Guid="80774858-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileWeifenLuoWinFormsUIDockingDll"
          Name="WeifenLuo.WinFormsUI.Docking.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\WeifenLuo.WinFormsUI.Docking.dll"
          Vital="yes"/>
      </Component>
      <Component Id="CompAxInteropMSTSCLibDll" Guid="8077460a-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileAxInteropMSTSCLibDll"
          Name="AxInterop.MSTSCLib.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\AxInterop.MSTSCLib.dll"
          Vital="yes"/>
      </Component>
      <Component Id="CompGoogleApisAuthDll" Guid="80773d04-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileGoogleApisAuthDll"
          Name="Google.Apis.Auth.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Google.Apis.Auth.dll"
          Vital="yes"/>
      </Component>
      <Component Id="CompGoogleApisAuthPlatformServicesDll" Guid="80773f20-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileGoogleApisAuthPlatformServicesDll"
          Name="Google.Apis.Auth.PlatformServices.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Google.Apis.Auth.PlatformServices.dll"
          Vital="yes"/>
      </Component>
      <Component Id="CompGoogleApisComputeV1Dll" Guid="80773ff2-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileGoogleApisComputeV1Dll"
          Name="Google.Apis.Compute.v1.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Google.Apis.Compute.v1.dll"
          Vital="yes"/>
      </Component>
      <Component Id="CompGoogleApisCloudResourceManagerV1Dll" Guid="807740c4-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileGoogleApisCloudResourceManagerV1Dll"
          Name="Google.Apis.CloudResourceManager.v1.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Google.Apis.CloudResourceManager.v1.dll"
          Vital="yes"/>
      </Component>
      <Component Id="CompGoogleApisCoreDll" Guid="8077418c-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileGoogleApisCoreDll"
          Name="Google.Apis.Core.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Google.Apis.Core.dll"
          Vital="yes"/>
      </Component>
      <Component Id="CompGoogleApisDll" Guid="80774254-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileGoogleApisDll"
          Name="Google.Apis.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Google.Apis.dll"
          Vital="yes"/>
      </Component>
      <Component Id="CompGoogleApisPlatformServicesDll" Guid="80774312-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileGoogleApisPlatformServicesDll"
          Name="Google.Apis.PlatformServices.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Google.Apis.PlatformServices.dll"
          Vital="yes"/>
      </Component>
      <Component Id="CompNewtonsoftJsonDll" Guid="807743da-6b47-11ea-bc55-0242ac130003">
        <File
          Id="FileNewtonsoftJsonDll"
          Name="Newtonsoft.Json.dll"
          DiskId="1"
          Source="Google.Solutions.CloudIap.IapDesktop\bin\$(var.CONFIGURATION)\Newtonsoft.Json.dll"
          Vital="yes"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
